/* Home.css */
.home-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: transparent; /* Torna o fundo transparente */
  color: #fff; /* Cor do texto */
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5em;
}

section {
  margin: 30px 0;
}

h2 {
  font-size: 2em;
  color: #f39c12;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding: 5px 0;
  font-size: 1.1em;
}

.footer {
  background-color: transparent; /* Torna o fundo transparente */
  color: #fff; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 20px; /* Adiciona espaçamento interno */
  font-size: 10px; /* Ajusta o tamanho da fonte */
  margin-top: auto; /* Isso garante que o rodapé fique no final */
}
/* Certifique-se de que o contêiner principal ocupe pelo menos 100% da altura da tela */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a altura mínima seja 100% da tela */
}

.main-content {
  flex: 1; /* Isso faz o conteúdo principal ocupar todo o espaço restante */
}

.chokokutai-regular {
  font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  text-align: center;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 20px;
  text-align: center;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
