body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  color: #00bfff; /* Azul para links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Definir um fundo preto com gradiente */
body {
  background: linear-gradient(
    to bottom,
    #000000,
    #333333
  ); /* Gradiente do preto ao cinza escuro */
  color: white; /* Texto branco */
  font-family: Arial, sans-serif; /* Definir uma fonte padrão */
  margin: 0;
  padding: 0;
  height: 100vh; /* Definir altura da página para 100% da tela */
}
